/syncthing
/stdiscosrv
*.tar.gz
*.zip
*.asc
*.deb
*.exe
.jshintrc
coverage.out
files/pidx
bin
perfstats*.csv
coverage.xml
syncthing.sig
RELEASE
deb
*.bz2
/repos
/proto/scripts/protoc-gen-gosyncthing
/compat.json


gui/react-app/node_modules

/home/lxk11/syncthing_dev/syncthing/gui/react-app/node_modules/

/home/lxk11/syncthing_dev/syncthing-android/syncthing/src/github.com/syncthing/syncthing/gui/react-app/node_modules